#addCriteriaURL.hide
  =new_drug_criteria_path(@drug)
.content
  .complete_information
    .field
      .label
        Fármaco:
      .info.text
        =@drug.name
    .field
      .label
        Enfermedades:
      .info.list
        %ul
          -@drug.diseases.each do |disease|
            %li=disease.name
    .field
      .label
        Carga Anticolinérgica:
      .info.text{inputName: "anticholinergic_load"}
        =@drug.anticholinergic_load
      .editDrug
        =button_tag "Cambiar", class: "drugFieldButton", url: drug_path(@drug), update: ""

    .field
      .label
        Criterios:
      .info.table
        %table#drugCriteria
          %tr
            %th
              Tipo
            %th
              Restricción
            %th
              Descripción
            %th
          -@drug.criterias.each do |criteria|
            =render('criterias/row_show', :drug=> @drug, :criteria => criteria)
          %tfoot
            %td
            %td
            %td
            %td.icons
              =image_tag("sign-add", alt: "Agregar Criterio", class: "icon click add_criteria")