%td
  =criteria.ctype
%td
  =criteria.criteria
  .associatedCriteria=criteria.associatedCriteria

%td
  =criteria.description
%td.icons
  / =link_to image_tag("pencil", alt: "Modificar Criterio", class: "icon click modify_criteria"), edit_criteria_path(criteria), :remote => true
  =link_to image_tag("sign-error", alt: "Eliminar Criterio", class: "icon click delete_criteria"), criteria_path(criteria), :remote => true, :method => :delete