
.content
  .listTable.diseases
    .title 
      Enfermedades
    %ul
      -@diseases.each do |disease|
        %li.disease{:ajaxCall => disease_drugs_path(disease)}=disease.name
       
  .tableSeparator

  .listTable.drugs
    .title
      Fármacos
    %ul