ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li{
  cursor: pointer; cursor: hand;
  padding: 5px;

  &:hover{
    background-color: #E8DADA;
  }
  &.odd{

    &:hover{
      background-color: #E8DADA;
    }
    background-color: #F1E7E7; 
  }

  &.selected{
    font-weight: bold;
  }
}

.tableSeparator{
  display: inline-block;
  width: 50px;
}

.listTable{
  width: 400px;
  border: 2px solid #717377;
  display: inline-block;
  vertical-align: top;
}

.title{
  text-align: center;
  background-color: #E6DFDF;
  padding: 10px;
  border-bottom: 2px solid #717377;
  font-weight: bold;
  font-size: 18px;
}

.content{
  text-align: center;
}