* {
  font-family: helvetica;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #FFF4F4;
}

header{
  text-align: center;
  padding: 25px;
  background-color: #457082;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

span{
  &.short{
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
  &.italic{
    font-style: italic;
  }
}