* {
  font-family: helvetica;
}

body {
  margin: 0;
  background-color: #FFF4F4;
}

header{
  text-align: center;
  padding: 25px;
  background-color: #2DBD54;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}